zig-cache/
zig-out/
zig/

**/*.DS_Store

uefi/debug.log
uefi/iso/
uefi/boot.iso
uefi/shared/EFI/BOOT/BOOTX64.EFI
uefi/shared/NvVars

src/video.raw
src/frames/*.tga

dist/boot.iso
dist/OVMF.fd
dist/dist.zip